<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <%= month_calendar(events: @events, attribute: :started_at, attribute_end: :ended_at) do |date, events| %>
        <strong><%= date.day %></strong>

        <% events.each do |event| %>
          <div class="event">
            <small><a href="https://facebook.com/events/<%= event.facebook_id %>" target="_parent"><%= event.title %></a></small>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
