<%= month_calendar(events: @events, attribute: :started_at, attribute_end: :ended_at) do |date, events| %>
  <strong><%= date.day %></strong>

  <% events.each do |event| %>
    <div class="event">
      <small><%= event.title %></small>
    </div>
  <% end %>
<% end %>
