@import "bootstrap-sprockets";
@import "bootstrap";

@import "simple_calendar";

body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 60px;
  width: 100%;
}

.page-header {
  margin-top: 10px;
}

.simple-calendar {
  margin: 0;
  padding: 0;

  width: 100%;

  .calendar-heading {
    width: 100%;
    height: 20px;
  }

  table {
    width: 100%;

    td.prev-month, td.next-month > strong {
      color: #888 !important;
    }
  }
}

#pages-panel {
  margin-top: 60px;

  .pages {
    list-style-type: none;
    // padding: 0;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  text-align: center;
}
